body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  li img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  li h2 {
    margin: 0;
  }
  